body{
    background-color:#E0C2B5 ;
    color: #180B1D;
}

section {
    height: 40vh;
}

#header,
#footer{
    position: relative;
    display: flex;
    justify-content: flex-end;
    margin-right: 5%;
}

#header a{
    padding: 2%;
    margin-left: 2%;
    text-decoration: none;
    color: #180B1D;
    opacity: 30%;
    letter-spacing: 3px;
    font-size: 16px; 
}

#header a:hover{
    opacity: 100%;
}

footer a{
    padding: 2%;
    margin-left: 2%;
    text-decoration: none;
    color: #180B1D;
    font-size: 16px;
}

#home{
    margin: 12%;
}

.container{
    text-align: center;
}

.landingText{
    margin-top: 200px;
    line-height: 7rem;
    font-size: 6rem;
}

#bio{
    margin: 12% 26% 12% 26%;
}

.bio{
    font-size: 16px;
    line-height: 24px;
}